.show-all
    display: none
#show-all:checked ~ .show-all
    display: block
.special
    display: none
#special:checked ~ .special
    display: block
.starter
    display: none
#starter:checked ~ .starter
    display: block
.salad
    display: none
#salad:checked ~ .salad
    display: block
.checkbox-hidden
    position: absolute
    left: -100vw

label
    border: 2px solid #ffb03b
    border-radius: 50px
label:hover
    background-color: #ffb03b
    transition: 0.5
    color: white